.clearfix{zoom:1} .grideven {height: expression( this.scrollHeight < 251 ? "250px" : "auto" );} 
img {width: 100%;height:auto;}
.social {padding-bottom:50px;height:60px}
.social:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }
.soc {visibility:visible}
