.embed-container{position:relative;padding-bottom:56.25%;height:0;overflow:hidden;max-width:100%}
.embed-container embed,.embed-container iframe,.embed-container object{position:absolute;top:0;left:0;width:100%;height:100%}
.vids {display:block; padding-bottom:40%}
body{font-size:1.2em;line-height:1.5em;font-family:'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;width:100%;position: relative}
ol.notes {list-style-type: decimal;}
