# compression 

<ifModule mod_headers.c>
Header set Connection keep-alive
</ifModule>

<IfModule deflate_module>
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE text/plain
    AddOutputFilterByType DEFLATE text/html
    AddOutputFilterByType DEFLATE text/xml
    AddOutputFilterByType DEFLATE application/xml
    AddOutputFilterByType DEFLATE application/xhtml+xml
    AddOutputFilterByType DEFLATE application/rss+xml
    AddOutputFilterByType DEFLATE application/javascript
    AddOutputFilterByType DEFLATE application/x-javascript
    BrowserMatch ^Mozilla/4 gzip-only-text/html
    BrowserMatch ^Mozilla/4\.0[678] no-gzip
    BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</IfModule>

# ETags

<IfModule mod_headers.c>
Header unset ETag
FileETag None
</IfModule>

# cache control

<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access plus 1 year"
ExpiresByType image/jpeg "access plus 1 year"
ExpiresByType image/gif "access plus 1 year"
ExpiresByType image/png "access plus 1 year"
ExpiresByType text/css "access plus 1 day"
ExpiresByType text/html "access plus 10 seconds"
ExpiresByType application/pdf "access plus 1 month"
ExpiresByType application/javascript "access plus 1 month"
ExpiresByType application/x-javascript "access plus 1 month"
ExpiresByType text/javascript "access plus 1 month"
ExpiresByType application/x-shockwave-flash "access plus 1 month"
ExpiresByType image/x-icon "access plus 1 month"
ExpiresByType application/atom+xml "access plus 1 hour"
ExpiresByType application/rss+xml "access plus 1 hour"
ExpiresDefault "access plus 1 month"
</IfModule>

# deny access to evil robots site rippers offline browsers and other nasty scum
 RewriteBase /
 RewriteCond %{HTTP_USER_AGENT} ^Anarchie [OR]
 RewriteCond %{HTTP_USER_AGENT} ^ASPSeek [OR]
 RewriteCond %{HTTP_USER_AGENT} ^attach [OR]
 RewriteCond %{HTTP_USER_AGENT} ^autoemailspider [OR]
 RewriteCond %{HTTP_USER_AGENT} ^Xaldon\ WebSpider [OR]
 RewriteCond %{HTTP_USER_AGENT} ^Xenu [OR]
 RewriteCond %{HTTP_USER_AGENT} ^Zeus.*Webster [OR]
 RewriteCond %{HTTP_USER_AGENT} ^Zeus
 RewriteRule ^.* - [F,L]

# hotlink protection
<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://(www\.)?neme\.org/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://(www\.)?news\.neme\.org/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://(www\.)?cyprus\.neme\.org/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://(www\.)?forum\.neme\.org/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://(www\.)?hblack\.net/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^https?://([^.]+\.)?google\. [NC]
RewriteCond %{HTTP_REFERER} !^http?://([^.]+\.)?google\. [NC]
RewriteCond %{HTTP_REFERER} !^https?://([^.]+\.)?bing\. [NC]
RewriteCond %{HTTP_REFERER} !^http?://([^.]+\.)?bing\. [NC]
RewriteCond %{HTTP_REFERER} !^https?://([^.]+\.)?ixquick\. [NC]
RewriteCond %{HTTP_REFERER} !^http?://([^.]+\.)?ixquick\. [NC]
RewriteCond %{HTTP_REFERER} !^https?://([^.]+\.)?yandex\. [NC]
RewriteCond %{HTTP_REFERER} !^http?://([^.]+\.)?yandex\. [NC]
RewriteCond %{HTTP_REFERER} !^https?://([^.]+\.)?yahoo\. [NC]
RewriteCond %{HTTP_REFERER} !^http?://([^.]+\.)?yahoo\. [NC]
RewriteCond %{HTTP_REFERER} !^https?://([^.]+\.)?excite\.com/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http?://([^.]+\.)?excite\.com/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^https?://([^.]+\.)?wolframalpha\.com/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http?://([^.]+\.)?wolframalpha\.com/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^https?://([^.]+\.)?goo\.ne\.jp/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^https?://([^.]+\.)?picsearch\.com/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http?://([^.]+\.)?picsearch\.com/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^https?://([^.]+\.)?duckduckgo\.com/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http?://([^.]+\.)?duckduckgo\.com/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^https?://([^.]+\.)?tineye\.com/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http?://([^.]+\.)?tineye\.com/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^https?://([^.]+\.)?archive\.org/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http?://([^.]+\.)?archive\.org/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^https?://([^.]+\.)?baidu\.com/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http?://([^.]+\.)?baidu\.com/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^https?://([^.]+\.)?ask\.com/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http?://([^.]+\.)?ask\.com/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^https?://([^.]+\.)?faganfinder\.com/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http?://([^.]+\.)?faganfinder\.com/.*$ [NC]
RewriteRule .*\.(gif|jpg|png|svg)$ https://lh3.googleusercontent.com/-KDvIl3r2wdM/AAAAAAAAAAI/AAAAAAAAAAA/fZTmVSnqmxA/s120-c/photo.jpg [R,NC,L]
</ifModule>

#ErrorDocument 403 /403.php
Header append X-FRAME-OPTIONS "SAMEORIGIN"

# Redirect to www
# RewriteCond %{HTTP_HOST} ^neme.org [NC]
# RewriteRule ^(.*)$ http://www.neme.org/$1 [L,R=301] 

RewriteCond %{HTTP_HOST} !^$
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteCond %{HTTPS}s ^on(s)|
RewriteRule ^ http%1://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Force non-www in a Generic Way

# RewriteEngine on
# RewriteCond %{HTTP_HOST} ^www\.
# RewriteCond %{HTTPS}s ^on(s)|off
# RewriteCond http%1://%{HTTP_HOST} ^(https?://)(www\.)?(.+)$
# RewriteRule ^ %1%3%{REQUEST_URI} [R=301,L]

#RewriteRule ^/sitemap/ /texts/ [R=301,L]
RedirectMatch 301 ^/main/?(.+)?$ http://www.neme.org/$1
RedirectMatch 301 /forum/?(.+)?$ http://forum.neme.org/$1
Redirect 301 /reblog/out/ http://www.neme.org/
Redirect 301 /sitemap/ http://www.neme.org/
Redirect 301 /arts_info/ http://news.neme.org/arts_info/
Redirect 301 /archives/ http://news.neme.org/archives/
Redirect 301 /archives2005/ http://news.neme.org/archives2005/
Redirect 301 /archives2006/ http://news.neme.org/archives2006/
Redirect 301 /archives2007/ http://news.neme.org/archives2007/
Redirect 301 /archives2008/ http://news.neme.org/archives2008/
Redirect 301 /archives2009/ http://news.neme.org/archives2009/
Redirect 301 /archives2010/ http://news.neme.org/archives2010/
Redirect 301 /archives2011/ http://news.neme.org/archives2011/
Redirect 301 /archives2012/ http://news.neme.org/archives2012/
Redirect 301 /archives2013/ http://news.neme.org/archives2013/
Redirect 301 /archives2014/ http://news.neme.org/archives2014/
Redirect 301 /archives2015/ http://news.neme.org/archives2015/
Redirect 301 /archives2016/ http://news.neme.org/archives2016/
Redirect 301 /calls/ http://news.neme.org/calls/
Redirect 301 /category/calls http://news.neme.org/calls/
Redirect 301 /article/ /texts/
Redirect 301 /call/ http://news.neme.org/calls/
Redirect 301 /category/intransition /events/in-transition-cyprus-2006
Redirect 301 /category/ideodrome2006 /events/ideodrome-2006
Redirect 301 /about/about-neme /about/
Redirect 301 /nac/neme-arts-centre /nac/
Redirect 301 /workshops/workshops /workshops/

# Block Spam referrers. 
# This method is using the url name without the tld. 
# Advantage: Blocks hits from any url which has the keyword
# Disadvantage: Blocks hits from any url which has the keyword so I might be blocking legit sites

RewriteEngine on
RewriteCond %{HTTP_REFERER} (1-99seo) [NC,OR]
RewriteCond %{HTTP_REFERER} (2gis) [NC,OR]
RewriteCond %{HTTP_REFERER} (2hD33io) [NC,OR]
RewriteCond %{HTTP_REFERER} (2gK7XFW) [NC,OR]
RewriteCond %{HTTP_REFERER} (2hDdcMe) [NC,OR]
RewriteCond %{HTTP_REFERER} (2hsQ0zD) [NC,OR]
RewriteCond %{HTTP_REFERER} (2hXrgwD) [NC,OR]
RewriteCond %{HTTP_REFERER} (5elementov) [NC,OR]
RewriteCond %{HTTP_REFERER} (abccoolgallery) [NC,OR]
RewriteCond %{HTTP_REFERER} (abcteach) [NC,OR]
RewriteCond %{HTTP_REFERER} (acetylsalicylicacid) [NC,OR]
RewriteCond %{HTTP_REFERER} (adultnet) [NC,OR]
RewriteCond %{HTTP_REFERER} (agent-05) [NC,OR]
RewriteCond %{HTTP_REFERER} (agriton) [NC,OR]
RewriteCond %{HTTP_REFERER} (alfa-politeh) [NC,OR]
RewriteCond %{HTTP_REFERER} (alldubai) [NC,OR]
RewriteCond %{HTTP_REFERER} (apxeo) [NC,OR]
RewriteCond %{HTTP_REFERER} (arenanews) [NC,OR]
RewriteCond %{HTTP_REFERER} (auditor) [NC,OR]
RewriteCond %{HTTP_REFERER} (autolombard-krasnodar) [NC,OR]
RewriteCond %{HTTP_REFERER} (avtokor-23) [NC,OR]
RewriteCond %{HTTP_REFERER} (avtokor23) [NC,OR]
RewriteCond %{HTTP_REFERER} (aworlds) [NC,OR]
RewriteCond %{HTTP_REFERER} (bagcionderlab) [NC,OR]
RewriteCond %{HTTP_REFERER} (balashiha-evakuator) [NC,OR]
RewriteCond %{HTTP_REFERER} (balkanfarma) [NC,OR]
RewriteCond %{HTTP_REFERER} (banket-restoran) [NC,OR]
RewriteCond %{HTTP_REFERER} (bazakanstovarov) [NC,OR]
RewriteCond %{HTTP_REFERER} (bdsmgalls) [NC,OR]
RewriteCond %{HTTP_REFERER} (bestcurs) [NC,OR]
RewriteCond %{HTTP_REFERER} (best-seo-solution) [NC,OR]
RewriteCond %{HTTP_REFERER} (bet-at-home) [NC,OR]
RewriteCond %{HTTP_REFERER} (bio-market) [NC,OR]
RewriteCond %{HTTP_REFERER} (bisbeebirders) [NC,OR]
RewriteCond %{HTTP_REFERER} (breningroup) [NC,OR]
RewriteCond %{HTTP_REFERER} (buttons-for-website) [NC,OR]
RewriteCond %{HTTP_REFERER} (burger-imperia) [NC,OR]
RewriteCond %{HTTP_REFERER} (buy-loft) [NC,OR]
RewriteCond %{HTTP_REFERER} (cactussoft) [NC,OR]
RewriteCond %{HTTP_REFERER} (carivka) [NC,OR]
RewriteCond %{HTTP_REFERER} (centernasledstva) [NC,OR]
RewriteCond %{HTTP_REFERER} (chalet24) [NC,OR]
RewriteCond %{HTTP_REFERER} (chelnytruck) [NC,OR]
RewriteCond %{HTTP_REFERER} (cherrymegamall) [NC,OR]
RewriteCond %{HTTP_REFERER} (cincybar) [NC,OR]
RewriteCond %{HTTP_REFERER} (cleaningservices) [NC,OR]
RewriteCond %{HTTP_REFERER} (creditservise) [NC,OR]
RewriteCond %{HTTP_REFERER} (cvety21) [NC,OR]
RewriteCond %{HTTP_REFERER} (darkbyte) [NC,OR]
RewriteCond %{HTTP_REFERER} (darodar) [NC,OR]
RewriteCond %{HTTP_REFERER} (denterum) [NC,OR]
RewriteCond %{HTTP_REFERER} (domain2008) [NC,OR]
RewriteCond %{HTTP_REFERER} (dopinglove) [NC,OR]
RewriteCond %{HTTP_REFERER} (dtudtu) [NC,OR]
RewriteCond %{HTTP_REFERER} (dveri-vdom) [NC,OR]
RewriteCond %{HTTP_REFERER} (econom) [NC,OR]
RewriteCond %{HTTP_REFERER} (elmacho) [NC,OR]
RewriteCond %{HTTP_REFERER} (eloxal) [NC,OR]
RewriteCond %{HTTP_REFERER} (englate) [NC,OR]
RewriteCond %{HTTP_REFERER} (evakuatorvbalashiha) [NC,OR]
RewriteCond %{HTTP_REFERER} (everflora) [NC,OR]
RewriteCond %{HTTP_REFERER} (expressrepair) [NC,OR]
RewriteCond %{HTTP_REFERER} (farmingworm) [NC,OR]
RewriteCond %{HTTP_REFERER} (filmgo) [NC,OR]
RewriteCond %{HTTP_REFERER} (findthe) [NC,OR]
RewriteCond %{HTTP_REFERER} (frivgame250) [NC,OR]
RewriteCond %{HTTP_REFERER} (freedom) [NC,OR]
RewriteCond %{HTTP_REFERER} (freetangodownload) [NC,OR]
RewriteCond %{HTTP_REFERER} (gasb) [NC,OR]
RewriteCond %{HTTP_REFERER} (gorodokstroyservis) [NC,OR]
RewriteCond %{HTTP_REFERER} (gotorussia) [NC,OR]
RewriteCond %{HTTP_REFERER} (handicapvansarea) [NC,OR]
RewriteCond %{HTTP_REFERER} (handyexpressions) [NC,OR]
RewriteCond %{HTTP_REFERER} (herbariaunited) [NC,OR]
RewriteCond %{HTTP_REFERER} (hetmanship) [NC,OR]
RewriteCond %{HTTP_REFERER} (homeandhealth) [NC,OR]
RewriteCond %{HTTP_REFERER} (housediz) [NC,OR]
RewriteCond %{HTTP_REFERER} (hotenergy) [NC,OR]
RewriteCond %{HTTP_REFERER} (hyiphunter) [NC,OR]
RewriteCond %{HTTP_REFERER} (ifmo) [NC,OR]
RewriteCond %{HTTP_REFERER} (igru-2015) [NC,OR]
RewriteCond %{HTTP_REFERER} (iloveitaly) [NC,OR]
RewriteCond %{HTTP_REFERER} (ilovevitaly) [NC,OR]
RewriteCond %{HTTP_REFERER} (inboundlinks) [NC,OR]
RewriteCond %{HTTP_REFERER} (isistaylorporn) [NC,OR]
RewriteCond %{HTTP_REFERER} (isoveti) [NC,OR]
RewriteCond %{HTTP_REFERER} (istmira) [NC,OR]
RewriteCond %{HTTP_REFERER} (innovatiedagblad) [NC,OR]
RewriteCond %{HTTP_REFERER} (j-times) [NC,OR]
RewriteCond %{HTTP_REFERER} (jeffreydach) [NC,OR]
RewriteCond %{HTTP_REFERER} (jyesmith) [NC,OR]
RewriteCond %{HTTP_REFERER} (kambasoft) [NC,OR]
RewriteCond %{HTTP_REFERER} (kiev) [NC,OR]
RewriteCond %{HTTP_REFERER} (kinocccp) [NC,OR]
RewriteCond %{HTTP_REFERER} (kodeks-nalog) [NC,OR]
RewriteCond %{HTTP_REFERER} (komp-pomosch) [NC,OR]
RewriteCond %{HTTP_REFERER} (komputers-best) [NC,OR]
RewriteCond %{HTTP_REFERER} (konteiner24) [NC,OR]
RewriteCond %{HTTP_REFERER} (kruchen) [NC,OR]
RewriteCond %{HTTP_REFERER} (landreferat) [NC,OR]
RewriteCond %{HTTP_REFERER} (life-instyle) [NC,OR]
RewriteCond %{HTTP_REFERER} (liky) [NC,OR]
RewriteCond %{HTTP_REFERER} (liky-co) [NC,OR]
RewriteCond %{HTTP_REFERER} (maizegdb) [NC,OR]
RewriteCond %{HTTP_REFERER} (mantramusic) [NC,OR]
RewriteCond %{HTTP_REFERER} (manuscript) [NC,OR]
RewriteCond %{HTTP_REFERER} (mdf) [NC,OR]
RewriteCond %{HTTP_REFERER} (medical) [NC,OR]
RewriteCond %{HTTP_REFERER} (meddesk) [NC,OR]
RewriteCond %{HTTP_REFERER} (medicines-choice) [NC,OR]
RewriteCond %{HTTP_REFERER} (meduza-consult) [NC,OR]
RewriteCond %{HTTP_REFERER} (megamashiny) [NC,OR]
RewriteCond %{HTTP_REFERER} (mhi-systems) [NC,OR]
RewriteCond %{HTTP_REFERER} (mindwork) [NC,OR]
RewriteCond %{HTTP_REFERER} (miracleinabox) [NC,OR]
RewriteCond %{HTTP_REFERER} (mistr-x) [NC,OR]
RewriteCond %{HTTP_REFERER} (modabutik) [NC,OR]
RewriteCond %{HTTP_REFERER} (mobplayer) [NC,OR]
RewriteCond %{HTTP_REFERER} (mosrif) [NC,OR]
RewriteCond %{HTTP_REFERER} (musezone) [NC,OR]
RewriteCond %{HTTP_REFERER} (musicstock) [NC,OR]
RewriteCond %{HTTP_REFERER} (mydirtystuff) [NC,OR]
RewriteCond %{HTTP_REFERER} (myriazur) [NC,OR]
RewriteCond %{HTTP_REFERER} (nemazennevemben) [NC,OR]
RewriteCond %{HTTP_REFERER} (newstraveller) [NC,OR]
RewriteCond %{HTTP_REFERER} (newtechspb) [NC,OR]
RewriteCond %{HTTP_REFERER} (normalegal) [NC,OR]
RewriteCond %{HTTP_REFERER} (oasismanagement) [NC,OR]
RewriteCond %{HTTP_REFERER} (oxford-book) [NC,OR]
RewriteCond %{HTTP_REFERER} (pamjatnik) [NC,OR]
RewriteCond %{HTTP_REFERER} (painting-planet) [NC,OR]
RewriteCond %{HTTP_REFERER} (pc-services) [NC,OR]
RewriteCond %{HTTP_REFERER} (petrovka-online) [NC,OR]
RewriteCond %{HTTP_REFERER} (pharmacyincity) [NC,OR]
RewriteCond %{HTTP_REFERER} (photorepair) [NC,OR]
RewriteCond %{HTTP_REFERER} (phototravel) [NC,OR]
RewriteCond %{HTTP_REFERER} (pk-services) [NC,OR]
RewriteCond %{HTTP_REFERER} (profitsport) [NC,OR]
RewriteCond %{HTTP_REFERER} (pizda) [NC,OR]
RewriteCond %{HTTP_REFERER} (pizza-imperia) [NC,OR]
RewriteCond %{HTTP_REFERER} (pizza-tycoon) [NC,OR]
RewriteCond %{HTTP_REFERER} (plantgdb) [NC,OR]
RewriteCond %{HTTP_REFERER} (play-mp3) [NC,OR]
RewriteCond %{HTTP_REFERER} (porndairy) [NC,OR]
RewriteCond %{HTTP_REFERER} (pornolook) [NC,OR]
RewriteCond %{HTTP_REFERER} (ppinys) [NC,OR]
RewriteCond %{HTTP_REFERER} (productarium) [NC,OR]
RewriteCond %{HTTP_REFERER} (profeservice) [NC,OR]
RewriteCond %{HTTP_REFERER} (proxtrail) [NC,OR]
RewriteCond %{HTTP_REFERER} (py100) [NC,OR]
RewriteCond %{HTTP_REFERER} (rada) [NC,OR]
RewriteCond %{HTTP_REFERER} (rankings-analytics) [NC,OR]
RewriteCond %{HTTP_REFERER} (realmonte) [NC,OR]
RewriteCond %{HTTP_REFERER} (recinziireale) [NC,OR]
RewriteCond %{HTTP_REFERER} (remgam) [NC,OR]
RewriteCond %{HTTP_REFERER} (restorator-msk) [NC,OR]
RewriteCond %{HTTP_REFERER} (resurs-2012) [NC,OR]
RewriteCond %{HTTP_REFERER} (ru-dety) [NC,OR]
RewriteCond %{HTTP_REFERER} (rupolitshow) [NC,OR]
RewriteCond %{HTTP_REFERER} (ruschalet) [NC,OR]
RewriteCond %{HTTP_REFERER} (saletool) [NC,OR]
RewriteCond %{HTTP_REFERER} (samuray) [NC,OR]
RewriteCond %{HTTP_REFERER} (savetubevideo) [NC,OR]
RewriteCond %{HTTP_REFERER} (seagov) [NC,OR]
RewriteCond %{HTTP_REFERER} (see-your-website-here) [NC,OR]
RewriteCond %{HTTP_REFERER} (semalt) [NC,OR]
RewriteCond %{HTTP_REFERER} (seoxbeep) [NC,OR]
RewriteCond %{HTTP_REFERER} (shater24) [NC,OR]
RewriteCond %{HTTP_REFERER} (shinikiev) [NC,OR]
RewriteCond %{HTTP_REFERER} (shmetall) [NC,OR]
RewriteCond %{HTTP_REFERER} (sks-ural) [NC,OR]
RewriteCond %{HTTP_REFERER} (smartfoxclub) [NC,OR]
RewriteCond %{HTTP_REFERER} (sok74) [NC,OR]
RewriteCond %{HTTP_REFERER} (spadoc) [NC,OR]
RewriteCond %{HTTP_REFERER} (startupcalifornia) [NC,OR]
RewriteCond %{HTTP_REFERER} (stairliftsarea) [NC,OR]
RewriteCond %{HTTP_REFERER} (stop-gepatit) [NC,OR]
RewriteCond %{HTTP_REFERER} (storehouse) [NC,OR]
RewriteCond %{HTTP_REFERER} (success-seo) [NC,OR]
RewriteCond %{HTTP_REFERER} (sulinet) [NC,OR]
RewriteCond %{HTTP_REFERER} (super-usten) [NC,OR]
RewriteCond %{HTTP_REFERER} (svarkagid) [NC,OR]
RewriteCond %{HTTP_REFERER} (telegraf) [NC,OR]
RewriteCond %{HTTP_REFERER} (tvshow) [NC,OR]
RewriteCond %{HTTP_REFERER} (telegramdownload10) [NC,OR]
RewriteCond %{HTTP_REFERER} (ponbdfv) [NC,OR]
RewriteCond %{HTTP_REFERER} (watchstock) [NC,OR]
RewriteCond %{HTTP_REFERER} (torrent-newgames) [NC,OR]
RewriteCond %{HTTP_REFERER} (torrents) [NC,OR]
RewriteCond %{HTTP_REFERER} (ukrsmeta) [NC,OR]
RewriteCond %{HTTP_REFERER} (usaring) [NC,OR]
RewriteCond %{HTTP_REFERER} (util-master) [NC,OR]
RewriteCond %{HTTP_REFERER} (viberdownload10) [NC,OR]
RewriteCond %{HTTP_REFERER} (visasuk) [NC,OR]
RewriteCond %{HTTP_REFERER} (vipsiterip) [NC,OR]
RewriteCond %{HTTP_REFERER} (vselgoty) [NC,OR]
RewriteCond %{HTTP_REFERER} (vyezd-viyezd) [NC,OR]
RewriteCond %{HTTP_REFERER} (websolution) [NC,OR]
RewriteCond %{HTTP_REFERER} (whatsappdownload10) [NC,OR]
RewriteCond %{HTTP_REFERER} (whiteproduct) [NC,OR]
RewriteCond %{HTTP_REFERER} (win-automation) [NC,OR]
RewriteCond %{HTTP_REFERER} (wispapp) [NC,OR]
RewriteCond %{HTTP_REFERER} (womama) [NC,OR]
RewriteCond %{HTTP_REFERER} (woman3050) [NC,OR]
RewriteCond %{HTTP_REFERER} (worldsellers) [NC,OR]
RewriteCond %{HTTP_REFERER} (woweb) [NC,OR]
RewriteCond %{HTTP_REFERER} (x-musics) [NC,OR]
RewriteCond %{HTTP_REFERER} (xblog) [NC,OR]
RewriteCond %{HTTP_REFERER} (xxxrus) [NC,OR]
RewriteCond %{HTTP_REFERER} (yougotanewdomain) [NC,OR]
RewriteCond %{HTTP_REFERER} (z-news) [NC,OR]
RewriteCond %{HTTP_REFERER} (zebramart) [NC]
RewriteRule .* http://127.0.0.1/ [R,L]

# Block keywords in the url
# This is for local urls. 

RewriteCond %{REQUEST_URI} (ckeditor|ckfinder|connector|connectors|kcfinder|register|trackback|cgi|fallback|bigdump|dump|noscript|editor|FileZilla|fckeditor|Tester|uploadTester|upload|wp|wp-admin|rob-chiu|wp-content|webmanage|convert|manage|eshop|login|cms|console|ycportal|dedecms|phpcms|oecms|CHANGELOG|lazycms|drupal|mail|webmail|dede|utility|wp-login|bbs|utility|convert|xmlrpc) [NC]
RewriteRule .* http://127.0.0.1/ [R=301,L]

#RewriteCond %{REMOTE_ADDR} 23\.108\.34\.202
#RewriteRule .* http://www.neme.org/indexthief.htm [R,L]

#Options +FollowSymlinks
#RewriteEngine on
#RewriteCond %{REMOTE_HOST} !^23\.108\.34\.202
#RewriteRule \.html$ /indexthief.htm [R=302,L]



#DirectoryIndex index.php index.html

#Options +FollowSymLinks
#Options -Indexes
#ErrorDocument 403 default

#RewriteCond %{QUERY_STRING} m=any&q=1
#RewriteRule - [F]

RewriteCond %{QUERY_STRING} ^m\=any$- [NC]
RewriteCond %{QUERY_STRING} ^m\=any\&q=1$- [NC]
RewriteRule ^ - [F]

RewriteCond %{THE_REQUEST} ^.*(wp-login).* [NC]
RewriteCond %{THE_REQUEST} ^.*(fckeditor).* [NC]
RewriteRule ^(.*)$ - [F,L]



<IfModule mod_rewrite.c>
	RewriteEngine On
	#RewriteBase /relative/web/path/

	RewriteCond %{REQUEST_FILENAME} -f [OR]
	RewriteCond %{REQUEST_FILENAME} -d
	RewriteRule ^(.+) - [PT,L]

	RewriteCond %{REQUEST_URI} !=/favicon.ico
	RewriteRule ^(.*) index.php

	RewriteCond %{HTTP:Authorization}  !^$
	RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]
</IfModule>

#php_value register_globals 0

# SVG
<IfModule mod_mime.c>
	AddType image/svg+xml  svg svgz
	AddEncoding gzip       svgz
</IfModule>

# RewriteCond %{QUERY_STRING} ^m\=any$- [F]
# RewriteRule ^ - [F]


# Hide server signuture

ServerSignature Off

# This prevents web browsers and spiders from seeing the .htaccess directives:

RewriteCond %{SCRIPT_FILENAME} -d [OR]
RewriteCond %{SCRIPT_FILENAME} -f
RewriteRule "(^|/)\." - [F]

<Files .htaccess>
deny from all
</Files>

<Files config.php> 
deny from all 
</Files>
