#neme2

#php versions
#<FilesMatch \.php$>
#SetHandler php55-fcgi
#SetHandler php56-fcgi
#SetHandler php70-cgi
#SetHandler php72-cgi
#SetHandler php74-cgi
#</FilesMatch>


# RewriteMap mapname "dbm:/home/colak/webapps/neme2/map.map"

# compression and cache control

<IfModule mod_deflate.c>
  # Compress HTML, CSS, JavaScript, Text, XML and fonts
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
  AddOutputFilterByType DEFLATE application/x-font
  AddOutputFilterByType DEFLATE application/x-font-opentype
  AddOutputFilterByType DEFLATE application/x-font-otf
  AddOutputFilterByType DEFLATE application/x-font-truetype
  AddOutputFilterByType DEFLATE application/x-font-ttf
  AddOutputFilterByType DEFLATE application/x-javascript
  AddOutputFilterByType DEFLATE application/xhtml+xml
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE font/opentype
  AddOutputFilterByType DEFLATE font/otf
  AddOutputFilterByType DEFLATE font/ttf
  AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE image/x-icon
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/javascript
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/xml

  # Remove browser bugs (only needed for really old browsers)
  BrowserMatch ^Mozilla/4 gzip-only-text/html
  BrowserMatch ^Mozilla/4\.0[678] no-gzip
  BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
  Header append Vary User-Agent
</IfModule>


<IfModule mod_headers.c>
Header set Connection keep-alive
Header unset ETag
FileETag None
Header unset P3P
Header append X-XSS-Protection "1; mode=block"
Header append X-Frame-Options "DENY"
Header append X-Content-Type-Options "nosniff"
Header set Cache-Control "no-transform"
Header append Content-Security-Policy "default-src 'self'; img-src 'self' data: * https://*; style-src 'self' 'unsafe-inline' ajax.googleapis.com platform.twitter.com https://ajax.googleapis.com https://fonts.googleapis.com https://platform.twitter.com; script-src 'self' 'unsafe-inline' www.google.com ajax.googleapis.com *.google-analytics.com https://www.google.com https://ajax.googleapis.com https://stats.g.doubleclick.net https://*.google-analytics.com https://*.twitter.com; frame-src *.youtube-nocookie.com https://*.youtube-nocookie.com *.twitter.com https://*.twitter.com twitter.com https://twitter.com http://*.vimeo.com https://*.vimeo.com https://dev.colakides.com http://*.statemachines.eu http://*.w3.org"
</ifModule>



<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access plus 1 year"
ExpiresByType image/jpeg "access plus 1 year"
ExpiresByType image/gif "access plus 1 year"
ExpiresByType image/png "access plus 1 year"
ExpiresByType text/css "access plus 20 days"
ExpiresByType text/html "access plus 10 seconds"
ExpiresByType application/pdf "access plus 1 month"
ExpiresByType application/javascript "access plus 1 month"
ExpiresByType application/x-javascript "access plus 1 month"
ExpiresByType text/javascript "access plus 1 month"
ExpiresByType application/x-shockwave-flash "access plus 1 month"
ExpiresByType image/x-icon "access plus 1 month"
ExpiresByType application/atom+xml "access plus 1 hour"
ExpiresByType application/rss+xml "access plus 1 hour"
ExpiresDefault "access plus 1 month"
</IfModule>

#RewriteEngine on
#RewriteCond %{HTTP_HOST} ^neme.org [NC]
#RewriteRule ^(.*)$ https://www.neme.org/$1 [L,R=301] 

RewriteCond %{HTTP_HOST} !^$
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteCond %{HTTPS}s ^on(s)|
RewriteRule ^ http%1://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]


# deny access to evil robots site rippers offline browsers and other nasty scum
# RewriteBase /

RewriteCond %{HTTP_USER_AGENT} ADSARobot|aesop_com_spiderman|ah-ha|aktuelles|alexibot|almaden|amzn_assoc|Anarchie|anonymouse|ASPSeek|ASSORT|asterias|ATHENS|Atomz|attach|attach|attache|autoemailspider [NC,OR]
RewriteCond %{HTTP_USER_AGENT} backdoorbot|BackWeb|Bandit|BatchFTP|bdfetch|big.brother|bigfoot|BlackWidow|blowfish|bmclient|Boston\ Project|botalot|Bot\ mailto:craftbot@yahoo.com|BravoBrian\ SpiderEngine\ MarcoPolo|Buddy|builtbottough|Bullseye|bumblebee [NC,OR]
RewriteCond %{HTTP_USER_AGENT} capture|cheesebot|CherryPicker|ChinaClaw|CICC|clipping|Collector|Copier|copyrightcheck|cosmos|Crescent|Crescent\ Internet\ ToolPak|curl|Custo|cyberalert [NC,OR]
RewriteCond %{HTTP_USER_AGENT} DA$|Deweb|diagem|Digger|Digincore|Digimarc|DIIbot|DISCo|DISCoFinder|DISCo\ Pump|dittospyder|Downloader|Download\ Demon|Download\ Wonder|dragonfly|Drip|DSurf15a|DTS.Agent [NC,OR]
RewriteCond %{HTTP_USER_AGENT} EasyDL|ebingbong|eCatch|ecatch|ecollector|efp@gmx\.net|EirGrabber|EmailCollector|EmailSiphon|EmailWolf|erocrawler|exabot|Express\ WebPictures|ExtractorPro|EyeNetIE [NC,OR]
RewriteCond %{HTTP_USER_AGENT} fastlwspider|FavOrg|Favorites\ Sweeper|Fetch|FEZhead|FileHound|FlashGet\ WebWasher|FlickBot|fluffy|flunky|frontpage|FrontPage [NC,OR]
RewriteCond %{HTTP_USER_AGENT} GalaxyBot|Generic|Getleft|GetRight|GetSmart|GetWeb!|GetWebPage|gigabaz|Girafabot|Go!Zilla|Go-Ahead-Got-It|GornKer|gotit|gotit|Go\!Zilla|Grabber|GrabNet|Grafula|Green\ Research|grub-client [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Harvest|harvest|hhjhj@yahoo|hloader|HMView|HomePageSearch|httpdown|httplib|http\ generic|httrack|HTTrack|humanlinks [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ia_archiver|IBM_Planetwide|ilsebot|imagefetch|Image\ Stripper|Image\ Sucker|IncyWincy|Indy*Library|Indy\ Library|infonavirobot|informant|infotekies|Ingelin|intelliseek|interget|InterGET|InternetLinkagent|internetseer|InternetSeer\.com|Internet\ Ninja|Iria|Irvine [NC,OR]
RewriteCond %{HTTP_USER_AGENT} JBH*agent|jennybot|jetcar|JetCar|JOC|JOC\ Web\ Spider|JustView|jyxobot [NC,OR]
RewriteCond %{HTTP_USER_AGENT} kenjin|keyword|KWebGet [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Lachesis|larbin|larbin|LeechFTP|leechftp|LexiBot|lexibot|lftp|Lftp|libweb|libwww|libwww-perl|likse|likse|Link|Link*Sleuth|linkscan|LINKS\ ARoMATIZED|LinkWalker|lnspiderguy|LWP|lwp|lwp-trivial [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Mac\ Finder|Mag-Net|mag-net|Mag-Net|Magnet|magnet|markwatch|Mass\ Downloader|MCspider|Memo|memo|Microsoft.URL|MIDown\ tool|miixpc|Mirror|Missigua\ Locator|mister.pix|Mister\ PiX|MMMtoCrawl\/UrlDispatcherLLL|moget|Mozilla*MSIECrawler|Mozilla.*Indy|Mozilla.*NEWT|MSFrontPage|MSIECrawler|MSProxy|MS\ FrontPage*|multithreaddb [NC,OR]
RewriteCond %{HTTP_USER_AGENT} nameprotect|nationaldirectory|navroad|Navroad|NearSite|NetAnts|NetCarta|netcraft|NetMechanic|netprospector|NetResearchServer|NetSpider|NetZIP|NetZippy|NetZip\ Downloader|Net\ Vampire|NEWT|nextgensearchbot|NICErsPRO|nimblecrawler|Ninja|NPBot [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Octopus|Offline\ Explorer|Offline\ Navigator|OpaL|Openfind|OpenTextSiteCrawler|OrangeBot|outfoxbot [NC,OR]
RewriteCond %{HTTP_USER_AGENT} PackRat|PageGrabber|papa|Papa\ Foto|pavuk|pavuk|pcbrowser|pcBrowser|PersonaPilot|php.?version.?tracker|Ping|PingALink|Pockey|propowerbot|prowebwalker|Proxy|psbot|psbot|PSurf|puf|Pump|PushSite [NC,OR]
RewriteCond %{HTTP_USER_AGENT} QRVA|queryn [NC,OR]
RewriteCond %{HTTP_USER_AGENT} RealDownload|realdownload|Reaper|reaper|recorder|Recorder|ReGet|replacer|RepoMonkey|rma|Robozilla|Rover|RPT-HTTPClient|Rsync|Scooter [NC,OR]
RewriteCond %{HTTP_USER_AGENT} SearchExpress|searchhippo|searchterms\.it|Second\ Street\ Research|Seeker|Shai|Siphon|sitecheck|sitecheck.internetseer.com|SiteSnagger|SlySearch|SmartDownload|snagger|Snake|snapbot|snoopy|sogou|SpaceBison|spankbot|spanner|Spegla|SpiderBot|sproose|SqWorm|Stripper|Sucker|SuperBot|SuperHTTP|SurfBot|SurfWalker|suzuran|Szukacz [NC,OR]
RewriteCond %{HTTP_USER_AGENT} takeout|tAkeOut|tarspider|teleport|Teleport\ Pro|telesoft|Templeton|thenomad|tighttwatbot|titan|TrueRobot|true_robot|turingos|turnitinbot|TV33_Mercator [NC,OR]
RewriteCond %{HTTP_USER_AGENT} UIowaCrawler|URLdispatcher|URLSpiderPro|URL_Spider_Pro|UtilMind [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Vacuum|vagabondo|vayala|vci|visibilitygap|VoidEYE|vspider [NC,OR]
RewriteCond %{HTTP_USER_AGENT} w3mir|WebAuto|WebBandit|Webclipping|webcollage|webcollector|WebCopier|webcraft@bea|webdevil|webdownloader|Webdup|WebEMailExtrac|WebFetch|WebGo\ IS|WebHook|Webinator|WebLeacher|WEBMASTERS|WebMiner|WebMirror|webmole|WebReaper|WebSauger|Website|Website\ eXtractor|Website\ Quester|WebSnake|Webster|WebStripper|websucker|webvac|webwalk|webweasel|WebWhacker|WebZIP|web\.by\.mail|Web\ Data\ Extractor|Web\ Downloader|Web\ Image\ Collector|Web\ Sucker|Wget|Whacker|whizbang|WhosTalking|Widow|widow|WISEbot|wisenutbot|WUMPUS|WUMPUS|Wweb|WWWOFFLE|wwwoffle [NC,OR]
RewriteCond %{HTTP_USER_AGENT} x-Tractor|xaldon|Xaldon\ WebSpider|Xenu|xenu|XGET|XoviBot [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Zeus|Zeus.*Webster|Zeus.*Webster|zyborg|^Mozilla$ [NC]
RewriteRule ^.* - [F,L]

# # hotlink protection
#<IfModule mod_rewrite.c>
#RewriteEngine on
#RewriteCond %{HTTP_REFERER} !^$
#RewriteCond %{HTTP_REFERER} !^http://(www\.)?neme\.org/.*$ [NC]
#RewriteCond %{HTTP_REFERER} !^http://(www\.)?news\.neme\.org/.*$ [NC]
#RewriteCond %{HTTP_REFERER} !^http://(www\.)?cyprus\.neme\.org/.*$ [NC]
#RewriteCond %{HTTP_REFERER} !^http://(www\.)?forum\.neme\.org/.*$ [NC]
#RewriteCond %{HTTP_REFERER} !^http://(www\.)?hblack\.net/.*$ [NC]
#RewriteCond %{HTTP_REFERER} !.*a9.*$  [NC]
#RewriteCond %{HTTP_REFERER} !.*altavista.*$ [NC]
#RewriteCond %{HTTP_REFERER} !.*ask.*$ [NC]
#RewriteCond %{HTTP_REFERER} !.*duckduckgo.*$ [NC]
#RewriteCond %{HTTP_REFERER} !.*google.*$ [NC]
#RewriteCond %{HTTP_REFERER} !.*yahoo.*$ [NC]
#RewriteCond %{HTTP_REFERER} !.*bing.*$ [NC]
#RewriteCond %{HTTP_REFERER} !.*baidu.*$ [NC]
#RewriteCond %{HTTP_REFERER} !.*excite.*$ [NC]
#RewriteCond %{HTTP_REFERER} !.*faganfinder.*$ [NC]
#RewriteCond %{HTTP_REFERER} !.*ixquick.*$ [NC]
#RewriteCond %{HTTP_REFERER} !.*microsofttranslator.*$ [NC]
#RewriteCond %{HTTP_REFERER} !.*msn.*$ [NC]
#RewriteCond %{HTTP_REFERER} !.*picsearch.*$ [NC]
#RewriteCond %{HTTP_REFERER} !.*tineye.*$ [NC]
#RewriteCond %{HTTP_REFERER} !.*wolframalpha.*$ [NC]
#RewriteCond %{HTTP_REFERER} !.*yandex.*  [NC]
#RewriteCond %{HTTP_REFERER} !^http(s)?://([^.]+\.)?goo\.ne\.jp/.*$ [NC]
#RewriteCond %{HTTP_REFERER} !^http(s)?://([^.]+\.)?archive\.org/.*$ [NC]
#RewriteRule .*\.(gif|jpg|png|svg)$ https://lh3.googleusercontent.com/-KDvIl3r2wdM/AAAAAAAAAAI/AAAAAAAAAAA/fZTmVSnqmxA/s120-c/photo.jpg [R,NC,L]
#</ifModule>


#RewriteRule ^/sitemap/ /texts/ [R=301,L]
RedirectMatch 301 ^/main/?(.+)?$ https://www.neme.org/$1
RedirectMatch 301 /forum/?(.+)?$ http://forum.neme.org/$1
Redirect 301 /reblog/out/ https://www.neme.org/
Redirect 301 /arts_info/ https://www.neme.org/blog/
Redirect 301 /archives/ https://www.neme.org/blog/
Redirect 301 /archives2005/ https://www.neme.org/blog/
Redirect 301 /archives2006/ https://www.neme.org/blog/
Redirect 301 /archives2007/ https://www.neme.org/blog/
Redirect 301 /archives2008/ https://www.neme.org/blog/
Redirect 301 /archives2009/ https://www.neme.org/blog/
Redirect 301 /archives2010/ https://www.neme.org/blog/
Redirect 301 /archives2011/ https://www.neme.org/blog/
Redirect 301 /archives2012/ https://www.neme.org/blog/
Redirect 301 /archives2013/ https://www.neme.org/blog/
Redirect 301 /archives2014/ https://www.neme.org/blog/
Redirect 301 /archives2015/ https://www.neme.org/blog/
Redirect 301 /archives2016/ https://www.neme.org/blog/
Redirect 301 /blog/newport-beach-film-festival-2009 /blog/nbff-2009
Redirect 301 /calls/ https://www.neme.org/blog/
Redirect 301 /1721/pq-2015 https://www.neme.org/blog/pq-2015
Redirect 301 /category/calls https://www.neme.org/blog/
Redirect 301 /article/ /texts/
Redirect 301 /call/ https://www.neme.org/blog/
Redirect 301 /category/intransition /projects/in-transition-cyprus-2006
Redirect 301 /blog/newport-beach-film-festival-2009 /blog/nbff-2009
Redirect 301 /category/ideodrome2006 /projects/ideodrome-2006
Redirect 301 /about/about-neme /about/
Redirect 301 /nac/neme-arts-centre /nac/
Redirect 301 /workshops/workshops /workshops/
Redirect 301 /events/my-name-is-janez-jansa /projects/improper-names
Redirect 301 /blog/jonas-lund-and-elisa-lasowski /blog/jonas-lund-and-elisa-lasowski-press
Redirect 301 /nac/ /about/neme-arts-centre
Redirect 301 /workshops/ /about/workshops
Redirect 301 /events/cpt-2019 /projects/hosted/cpt-2019
Redirect 301 /events/see-you-hear /projects/hosted/see-you-hear
Redirect 301 /events/sublime-internal-subliminal /projects/hosted/sublime-internal-subliminal
Redirect 301 /events/self-as-actor /projects/state-machines/self-as-actor
Redirect 301 /events/stateless /projects/state-machines/stateless
Redirect 301 /events/diwo-from-the-web-to-the-blockchain /projects/state-machines/diwo-from-the-web-to-the-blockchain
Redirect 301 /events/new-imaginaries-for-crypto-design /projects/state-machines/new-imaginaries-for-crypto-design
Redirect 301 /events/monitorial-citizen /projects/state-machines/monitorial-citizen
Redirect 301 /events/unbuilding-citizenship /projects/state-machines/unbuilding-citizenship
Redirect 301 /events/improper-names /projects/state-machines/improper-names
Redirect 301 /events/ttr2-right-brain-problems /projects/ttr/ttr2-right-brain-problems
Redirect 301 /events/stateless /projects/state-machines/stateless
Redirect 301 /events/through-the-roadblocks /projects/ttr/through-the-roadblocks
Redirect 301 /events/ttr2-all-the-other-lovers /projects/ttr/ttr2-all-the-other-lovers
Redirect 301 /events/ttr2-hand-to-hand /projects/ttr/ttr2-hand-to-hand
Redirect 301 /events/ttr2-lemesos-documentary-film-festival /projects/ttr/ttr2-lemesos-documentary-film-festival
Redirect 301 /events/ttr2-ties-of-the-transitory-seminar /projects/ttr/ttr2-ties-of-the-transitory-seminar
Redirect 301 /events/ttr2-bound /projects/ttr/ttr2-bound
Redirect 301 /events/ttr2-inter-alios /projects/ttr/ttr2-inter-alios
Redirect 301 /events/ttr2-nomadism-and-trans-cities /projects/ttr/ttr2-nomadism-and-trans-cities
Redirect 301 /events/ttr2-everybody-knows-this-is-nowhere /projects/ttr/ttr2-everybody-knows-this-is-nowhere
Redirect 301 /events/ttr2-art-culture-memory-and-trauma /projects/ttr/ttr2-art-culture-memory-and-trauma
Redirect 301 /events/ttr2-re-collecting-city-re-collecting-time /projects/ttr/ttr2-re-collecting-city-re-collecting-time
Redirect 301 /events/through-the-roadblocks-stage-1 /projects/ttr/through-the-roadblocks-stage-1
Redirect 301 /1800/differentiating-between-access-interaction-and-participationhttp://www.neme.org/1800/differentiating-between-access-interaction-and-participationhttp://www6.univali.br/seer/index.php/vd/article/view/5294/3257Vol /texts/differentiating-between-access-interaction-and-participation
RedirectMatch 301 ^/participations/?(.+)?$ /projects/participations/$1
RedirectMatch 301 ^/events/?(.+)?$ /projects/$1
Redirect 301 /events/the-state /projects/hosted/the-state
Redirect 301 /projects/participations/see-you-hear /projects/hosted/see-you-hear
Redirect 301 /671/flashflood-2007 /blog/flashflood-2007

RedirectMatch 301 /(\d+)/([\w\-]+)$ /texts/$2?redirected=1
Redirect 301 /texts/open-city-stepping-in-from-the-edge /texts/open-city?redirected=1

RewriteEngine on
#RewriteCond %{HTTP_REFERER} ^http\://.* bit\.ly/2hDdcMe [NC,OR]
#RewriteCond %{HTTP_REFERER} ^http\://.* bit\.ly/2hsQ0zD [NC,OR]
#RewriteCond %{HTTP_REFERER} ^http\://.* bit\.ly/2gK7XFW [NC,OR]
#RewriteCond %{HTTP_REFERER} ^https?://[^/]+\.ru/? [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://[^/]+\.best/? [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://[^/]+\.xyz/? [NC]
RewriteRule .* - [F]


RewriteEngine On
#RewriteCond %{HTTP_REFERER} .*zzz.com.*$ [NC, OR]
#RewriteCond %{HTTP_REFERER} .*kwangjubiennale.org.*$ [NC]
#RewriteRule ^(.*)$ https://www.neme.org/kwangjubiennale.html

RewriteCond %{REQUEST_URI} (bitrix|ckeditor|ckfinder|connector|connectors|wordpress|kcfinder|register|elfinder|trackback|fallback|gastenboek|guestbook|gaestebuch|bigdump|dump|noscript|editor|FileZilla|fckeditor|Tester|uploadTester|wp|wp-admin|rob-chiu|wp-content|webmanage|convert|manage|eshop|jomestate|joomla|templates|tinymce|magmi|login|cms|console|udd|ycportal|cgi|dedecms|phpcms|oecms|CHANGELOG|lazycms|drupal|mail|webmail|dede|utility|wp-login|bbs|utility|convert|xmlrpc|plus) [NC]
RewriteRule .* http://127.0.0.1/ [R=301,L]

#RewriteCond %{REMOTE_ADDR} 23\.108\.34\.202
#RewriteRule .* https://www.neme.org/indexthief.htm [R,L]

#Options +FollowSymlinks
#RewriteEngine on
#RewriteCond %{REMOTE_HOST} !^23\.108\.34\.202
#RewriteRule \.html$ /indexthief.htm [R=302,L]


Options +FollowSymlinks
RewriteEngine on
RewriteCond %{REMOTE_HOST} 1\.215\.226\.190
RewriteRule .* https://www.neme.org/indexthief.htm [R,L]

#Options +FollowSymlinks
#RewriteEngine on
#RewriteCond %{REMOTE_HOST} 84\.109\.137\.242
#RewriteRule .* https://www.neme.org/indexwhy.htm [R,L]


Order Deny,Allow
Deny from 84.109.137.242
Deny from 82.80.230.228

RewriteEngine on
# Options +FollowSymlinks
RewriteCond %{HTTP_REFERER} link-building-economy\.com [NC,OR]
RewriteCond %{HTTP_REFERER} xn--d1abj0abs9d\.in\.ua [NC,OR]
RewriteCond %{HTTP_REFERER} greenshop\.su [NC,OR]
RewriteCond %{HTTP_REFERER} own-ahrefs\.com [NC,OR]
RewriteCond %{HTTP_REFERER} anti-crisis-seo\.com [NC]
RewriteRule .* - [F] 

#DirectoryIndex index.php index.html

#Options +FollowSymLinks
#Options -Indexes
#ErrorDocument 403 default

#RewriteCond %{QUERY_STRING} m=any&q=1
#RewriteRule - [F]

RewriteCond %{QUERY_STRING} ^m\=any$- [NC]
RewriteCond %{QUERY_STRING} ^m\=any\&q=1$- [NC]
RewriteRule ^ - [F]

# block QUERY_STRINGs
#<IfModule mod_rewrite.c>
# RewriteEngine On
# RewriteCond %{QUERY_STRING} ^.*(localhost|loopback|127\.0\.0\.1).* [NC,OR]
# RewriteCond %{QUERY_STRING} ^.*(\.|\*|;|<|>|'|"|\)|%0A|%0D|%22|%27|%3C|%3E|%00).* [NC,OR]
# RewriteCond %{QUERY_STRING} ^.*(md5|benchmark|union|select|insert|cast|set|declare|drop|update).* [NC]
# RewriteRule ^(.*)$ - [F,L]
#</IfModule>


# turn off ipv6
#Listen 0.0.0.0:80


AddDefaultCharset utf-8

<IfModule mod_rewrite.c>
	RewriteEngine On
# RewriteCond %{HTTPS} off
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

	#RewriteBase /relative/web/path/
RewriteRule ^sitemap.xml$  index.php?s=sitemap [L]

# json
#	RewriteRule ^feed.json$ ./index.php?kuo_json_feed
#	RewriteRule ^([\-a-zA-Z0-9]+)-feed.json$ ./index.php?kuo_json_feed=$1

	RewriteCond %{REQUEST_FILENAME} -f [OR]
	RewriteCond %{REQUEST_FILENAME} -d
	RewriteRule ^(.+) - [PT,L]

	RewriteCond %{REQUEST_URI} !=/favicon.ico
	RewriteRule ^(.*) index.php

	RewriteCond %{HTTP:Authorization}  !^$
	RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]
</IfModule>


# SVG
<IfModule mod_mime.c>
	AddType image/svg+xml  svg svgz
	AddEncoding gzip       svgz
</IfModule>

# RewriteCond %{QUERY_STRING} ^m\=any$- [F]
# RewriteRule ^ - [F]


# This prevents web browsers or spiders from seeing your .htaccess directives:

ServerSignature Off
Options All -Indexes

RewriteCond %{SCRIPT_FILENAME} -d [OR]
RewriteCond %{SCRIPT_FILENAME} -f
RewriteRule "(^|/)\." - [F]

<Files .htaccess>
deny from all
</Files>

RewriteCond %{SCRIPT_FILENAME} -d [OR]
RewriteCond %{SCRIPT_FILENAME} -f
RedirectMatch 404 /\..*$

<Files config.php> 
deny from all 
</Files>
